body {
  padding: 20px;
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.chart{
  height:300px;
  width:745px;
}

imgclass{
  vertical-align:middle;
}
a {
  color: #00B7FF;
}

.fbody{
  background-color:orange;
}

.res{
  background-color:red;
  margin-top:10px;
	font:30px;
	
}